@charset "UTF-8";

#title{
    text-align: center;
    color:white;
}

#link{
    text-align: center;
}
    body {
    background-image: url("sora.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
         }
