@charset "UTF-8";

#title{
    text-align: center;
    color:white;
}

#link{
    text-align: center;
}

@media only screen and (max-width:980px) {
    body {
    background-image: url("johodai.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
         }
    }
    
    @media only screen and (min-width:981px) {
    body {
    background-image: url("johodai.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
        }
