@charset "UTF-8";

#title{
    text-align: center;
    color:white;
     width: 250px;
 height: 250px;
 float: center;
}

#link{
    text-align: center;
     width: 100px;
 height: 150px;
    float: right;
}
body {
      background-image: url("sora.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
      }
.yellow{
 background-color: yellow;
 width: 200px;
 height: 250px;
}
.green{
 background-color: green;
 width: 150px;
 height: 100px;
}
